/* CSS Document */
html, body {
height: 100%;
}
div{
float:left;
width:520px; 
height:520px;
margin:auto;
position: fixed;
left: 50%;
top: 50%;
border:none;
margin-top:50px;
}
img{
float:left;

}

